{% extends 'layouts/base.html.twig' %}

{% block title 'Changer Mot de passe' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="text-center my-5">Changer mot de passe</h1>
            <div class="mb-3">
                {{ form_start(form) }}
            </div>
            <div class="mb-3">
                {{ form_widget(form) }}
            </div>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}