{% extends 'Layouts/base.html.twig' %}

{% block title %}
    {% if app.request.attributes.get('_route') == 'app_pins_edit' %}
        Modifier Pin
    {% else %}
        Créer Pin
    {% endif %}
{% endblock %}

{% set route = app.request.attributes.get('_route') %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
            {% if route == 'app_pins_edit' %}
                <h1>Modifier pin</h1>
            {% else  %}
                <h1> Créer Pin</h1>
            {% endif %}

            {{ form_start(form) }}
            {{ form_widget(form) }}

            {% if  route == 'app_pins_edit' %}
                <input type="submit" class="btn btn-primary btn-block" value="Modifier">
            {% else %}
                <input type="submit" class="btn btn-primary btn-block" value="Créer">
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}
