{% extends 'Layouts/base.html.twig' %}

{% block title 'Réinitialisez votre mot de passe'%}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Réinitialisez votre mot passe</h1>

            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <div class="d-grid gap-2 mt-3">
                <button class="btn btn-primary btn-lg">Envoyer</button>
            </div>

            {{ form_end(resetForm) }}
        </div>
    </div>

{% endblock %}
